@using Webdiyer.WebControls.Mvc
@model Maticsoft.ViewModel.Shop.ProductListModel
@{
    string cid = Request.RequestContext.RouteData.Values["cid"] != null ? Request.RequestContext.RouteData.Values["cid"].ToString() : "0";
    string brandid = Request.RequestContext.RouteData.Values["brandid"] != null ? Request.RequestContext.RouteData.Values["brandid"].ToString() : "0";
    string attrvalues = Request.RequestContext.RouteData.Values["attrvalues"] != null ? Request.RequestContext.RouteData.Values["attrvalues"].ToString() : "0";
    string mod = Request.RequestContext.RouteData.Values["mod"] != null ? Request.RequestContext.RouteData.Values["mod"].ToString() : "default";
    string price = Request.RequestContext.RouteData.Values["price"] != null ? Request.RequestContext.RouteData.Values["price"].ToString() : "";

}

<script type="text/javascript">
    $(function () {
       
        //保存显示价格
        var priceStr = '@price';
        var price1 = priceStr.split("-")[0];
        var price2= priceStr.split("-")[1];
        if (!isNaN(price1)&&parseInt(price1) > 0) {
            $("#txtPrice1").val(price1);
        }
        if (!isNaN(price2)&&parseInt(price2) > 0) {
            $("#txtPrice2").val(price2);
        }
        var mod = '@mod';
        $(".listFilterL").find("a").each(function() {
            var mode = $(this).attr("mod");
            if (mode == mod) {
                $(this).addClass("select");
            }
        });
        $("#SubPrice").click(function() {
            price1 = parseInt($("#txtPrice1").val());
            price2=parseInt($("#txtPrice2").val());
            if (isNaN(price1)) {
                price1 = 0;
            }
            if (isNaN(price2)) {
                price2 = 0;
            }
            if (price1 > price2 && price1>0 && price2>0  ) {
                var sw = price1;
                price1 = price2;
                price2 = sw;
                $("#txtPrice1").val(price1);
                $("#txtPrice2").val(price2);
            }
            location.href = "/product/@cid/@brandid/@attrvalues/@mod/"+price1+"-"+price2;
        });
            
        $('.OnlyNum').OnlyNum();
        $(".item-addcart #Reduction").die('click').live('click',function() {
            var quantity = $(this).parent().find('#Quantity');
            var num = parseInt(quantity.val()) -1;
            if (!num||num < 1) num = 1;
            quantity.val(num);
        });
        $(".item-addcart #Addition").die('click').live('click',function() {
            var quantity = $(this).parent().find('#Quantity');
            var num = parseInt(quantity.val()) +1;
            if (!num) num = 1;
            if (num > 99) num = 99;
            quantity.val(num);
        });
        $(".item-addcart #AddCart").die('click').live('click',function() {
            var sender = this;
            var quantity = $(sender).parent().find('#Quantity');
            var num = parseInt(quantity.val());
            if (!num||num < 1) num = 1;
            if (num > 99) num = 99;
            quantity.val(num);
            $.ajax({
                type: "POST",
                dataType: "json",
                async: false,
                url: $Maticsoft.BasePath + "ShoppingCart/AddCart?s=" + new Date().format('yyyyMMddhhmmssS'),
                data: { ProductId: $(sender).attr('productId'), Count: num },
                success: function(resultData) {
                    switch (resultData.STATUS) {
                    case "SUCCESS":
                        ShowSuccessTip("加入购物车成功！");
                        var quantity = $('#hd-cart-amount');
                        quantity.text(parseInt(quantity.text()) + num);
                        $(sender).parent().find('#Quantity').val(1);
                        break;
                    default:
                        switch (resultData.DATA) {
                        case "NOSTOCK":
                            ShowServerBusyTip("非常抱歉, 商品库存不足！");
                            break;
                        case "NOSKU":
                        case "NO":
                        default:
                            ShowFailTip("服务器繁忙，请稍候再试！");
                            break;
                        }
                        break;
                    }
                }
            });
        });
            
        waterFall.init({
            //Ajax请求参数
            AjaxOptions: {
                //Ajax请求参数
                Params:@Html.Raw(ViewBag.DataParam),
                //Ajax请求URL
                DataURL: "@(ViewBag.BasePath)Product/ListWaterfall"
            },
            //瀑布流起始索引记录器 - 用于累计
            CurrentAjaxStartIndexHF: $('#hfCurrentPageAjaxStartIndex'),
            //瀑布流起始索引
            StartIndex:$('#hfCurrentPageAjaxStartIndex').val() ? parseInt($('#hfCurrentPageAjaxStartIndex').val()) : 0,
            //瀑布流结束索引
            EndIndex: $('#hfCurrentPageAjaxEndIndex').val() ? parseInt($('#hfCurrentPageAjaxEndIndex').val()) : 0,

            //分页容器
            PagedContainer: $('.in_pages'),
            //列容器ID前缀
            ColumnFirstId: "J_lazyload",
            //列数
            ColumnNumber: 0,RowNumber: 4
        });
        
    });
</script>
<div id="ProductListDiv">

    @if (Model.ProductPagedList != null && Model.ProductPagedList.Count > 0)
    {
        <div class="allGoodsWrap" >
            <div class="listFilter">
                <div class="listFilterL">
                    <a href="@(ViewBag.BasePath)product/@cid/@brandid/@attrvalues/default/@price" mod="default">默认</a><a href="@(ViewBag.BasePath)product/@cid/@brandid/@attrvalues/hot/@price"  mod="hot">销量</a><a href="@(ViewBag.BasePath)product/@cid/@brandid/@attrvalues/price/@price" mod="price">价格</a><a href="@(ViewBag.BasePath)product/@cid/@brandid/@attrvalues/new/@price"  mod="new">上架时间</a>
                </div>
                @*                <div class="listFilterR">
                    <span class="info">共263个商品</span> <span class="num"><em>1</em>/6</span> <a class="disable"
                        href="#"><s class="icon-prev"></s></a><a href="#"><s class="icon-next"></s></a>
                </div>*@
            </div>
            <div class="allGoods">
                <ul class="products clearfix">
                    @foreach (var item in Model.ProductPagedList)
                    {
                        <li class="cur">
                            <div class="pro_detail_left js-lists-imgtab clearfix">
                                <div class="J_zoom">
                                    <a title="@item.ProductName"  href="@item.SeoUrl" target="_blank">
                                        <img title="@item.ProductName" alt="@item.ProductName" width="210" height="275" ref="@Maticsoft.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T220X297_")">
                                    </a>
                                </div>
                                @*<div class="img-wrap clearfix">
                                        <div class="small-wrap">
                                            <ul class="imgList">                        	<li class="current"><s></s><a href="#"><img src="images/productsSmallPic11.jpg"></a></li>
                                                <li class=""><s></s><a href="#"><img src="images/productsSmallPic12.jpg"></a></li>
                                                <li class=""><s></s><a href="#"><img src="images/productsSmallPic13.jpg"></a></li>
                                                <li class=""><s></s><a href="#"><img src="images/productsSmallPic11.jpg"></a></li>
                                                <li class=""><s></s><a href="#"><img src="images/productsSmallPic12.jpg"></a></li>
                                            </ul>
                                        </div>
                                    </div>*@
                            </div>
                            <h2 class="name">
                                <a target="_blank" title="@item.ProductName"  href="@item.SeoUrl">@item.ProductName</a><em
                                                                                                                           class="hot"></em>
                            </h2>
                            <p class="price-wrap">
                                <span class="price"><em>¥</em>@item.LowestSalePrice.ToString("F")</span> <span class="price-hot">
                                                                                                         </span>
                            </p>
                            <p class="info">
                                <a  href="javascript:;" class="metatit">已有<em>@item.SaleCounts</em>人购买</a>
                            </p>
                            @*                            <p class="btn-wrap clearfix">
                                <span class="product-list-add-shopcart">加入购物车</span> <span class="collect product-list-add-wishList">
                                    收藏</span>
                            </p>*@
                        </li>
                    }
                </ul>
                <div class="pagination">
                    @Html.AjaxPager(Model.ProductPagedList, new PagerOptions
                    {
                        ShowDisabledPagerItems = false,
                        AlwaysShowFirstLastPageNumber = true,
                        PageIndexParameterName = "pageIndex",
                        NumericPagerItemCount = 10,
                        CurrentPagerItemWrapperFormatString = "<span class=\"cur pageCurrent\">{0}</span>",
                        CssClass = "fr",
                        SeparatorHtml = ""
                    }, new AjaxOptions { UpdateTargetId = "ProductListDiv" })
                    <input type="hidden" id="hfCurrentPageAjaxStartIndex" value="@ViewBag.CurrentPageAjaxStartIndex" />
                    <input type="hidden" id="hfCurrentPageAjaxEndIndex" value="@ViewBag.CurrentPageAjaxEndIndex" />

                </div>
            </div>
        </div>
                    <script type="text/javascript">

                        $.scaleLoad('.allGoods', 210, 275);
                      
</script>
    }
</div>
