@{
    Layout = "~/Areas/Shop/Themes/M3/Views/Shared/_BaseLayoutWithOutCate.cshtml";
}
<link rel="stylesheet" href="/Areas/Shop/Themes/M3/Content/styles/pay.css" type="text/css" />
<link rel="stylesheet" href="/Areas/Shop/Themes/M3/Content/styles/list.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Areas/Shop/Themes/M3/Content/styles/style.css"/>
 
<div class="order-wrapper">
    <div class="successk">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px dashed #efd9af;">
            <tbody><tr>
                       <td width="10%" rowspan="5" align="center"><img src="/Areas/Shop/Themes/M3/Content/images/chenggong.jpg" width="48" height="80" ></td>
                       <td height="45" colspan="3" align="left"><span style=" font-family:'微软雅黑','黑体'; font-size:18px; font-weight: bold; color:#C00;">@(ViewBag.HasPay ? "您已成功支付，" : "")我们将安排发货，请注意查收。</span></td>
                   </tr>
                <tr>
                    <td height="35" colspan="3" align="left">订单号：@ViewBag.OrderCode</td>
                </tr>
                <tr>
                    <td height="35" colspan="3" align="left"><strong><span class="ftx-01">@(ViewBag.ItemsCount)</span>件商品将发送给 @(ViewBag.ShipName)</strong></td>
                </tr>
                <tr>
                    <td width="65%" height="60" align="left" valign="middle"><span class="fenzi"></span><a href="@(ViewBag.BasePath)UserCenter/Orders">查看或更改您的订单</a></td>
                </tr>
            </tbody></table>
    </div>

</div>
<input type="hidden" value="@ViewBag.OrderId" id="OrderId"/>
<script type="text/javascript">
    $(function () {
        $("#guide_2").mouseover(function () { $("#category").show(); }).mouseout(function () { $("#category").hide(); });

    });
</script>